.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 200px 100px;
}

.left {
    background-color: lightsalmon;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

.main {
    background-color: pink;
    grid-column-start: 4;
    grid-column-end: 10;
}

.header {
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 13;
}

.right {
    background-color: lightcoral;
    grid-column-start: 10;
    grid-column-end: 13;
}

.footer {
    background-color: darksalmon;
    grid-column-start: 1;
    grid-column-end: 13;
}